@use '../../../../styles.scss' as *;

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 40px;

  button {
    background-color: $background-light;
    color: $text-light;
    border: 1px solid $text-medium;
    padding: 8px 15px;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 4px;
    transition:
      background-color 0.2s,
      opacity 0.2s;
    font-size: 1em;

    &:hover:not(:disabled) {
      background-color: $primary-color;
      border-color: $primary-color;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  span {
    color: $text-light;
    font-size: 1.1em;
    font-weight: 500;
  }
}
