@use '../../../../styles.scss' as *;

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10px 40px;

  .page-numbers {
    display: flex;
    align-items: center;
    margin: 0;
  }

  button {
    background-color: transparent;
    color: $text-light;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    margin: 0 2px;
    border-radius: 4px;
    transition:
      background-color 0.2s,
      color 0.2s,
      border-color 0.2s;
    font-size: 1em;
    font-weight: 500;

    &:hover:not(:disabled) {
      background-color: rgba($primary-color, 0.1);
      color: $primary-color;
    }

    &:disabled {
      opacity: 0.4;
      cursor: not-allowed;
      color: $text-medium;
    }
  }

  .page-btn {
    min-width: 34px;
    height: 34px;
    padding: 0;
    margin: 0 4px;

    background-color: $background-light;
    border: 1px solid $background-light;

    &:hover:not(:disabled) {
      background-color: rgba($primary-color, 0.2);
      border-color: $primary-color;
    }

    &.active {
      background-color: $primary-color;
      border-color: $primary-color;
      color: $text-light;
      font-weight: bold;
      &:hover {
        background-color: $primary-color;
        border-color: $primary-color;
      }
    }
  }

  .ellipsis {
    color: $text-medium;
    font-size: 1.1em;
    margin: 0 5px;
  }

  .nav-btn {
    padding: 8px 15px;
    border: 1px solid $text-medium;
    background-color: $background-light;
    margin: 0 10px;

    &:hover:not(:disabled) {
      background-color: $primary-color;
      border-color: $primary-color;
      color: $text-light;
    }

    &:disabled {
      background-color: $background-light;
      border-color: $text-medium;
    }
  }

  @media (max-width: 600px) {
    padding: 15px 5px 30px;

    .nav-btn {
      padding: 8px 10px;
      font-size: 0.9em;
      margin: 0 5px;
    }

    .page-btn {
      min-width: 30px;
      height: 30px;
      font-size: 0.9em;
      margin: 0 2px;
    }

    .ellipsis {
      margin: 0 3px;
    }
  }

  @media (max-width: 400px) {
    padding: 15px 0 30px;

    .nav-btn {
      padding: 7px 8px;
      font-size: 0.8em;
      margin: 0 3px;
    }

    .page-btn {
      min-width: 26px;
      height: 26px;
      font-size: 0.75em;
      margin: 0 1px;
    }

    .ellipsis {
      font-size: 0.85em;
      margin: 0 1px;
    }
  }
}
