@use '../../../../../styles.scss' as *;

.detail-page-container {
  padding: 0;
  margin: 0 auto;
}

.header-section {
  position: relative;
  height: 60vh;
  min-height: 400px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;

  .overlay {
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 30px 50px;
  }
}

.poster {
  flex-shrink: 0;
  margin-right: 40px;

  img {
    width: 250px;
    height: 380px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
    object-fit: cover;
  }
}

.info {
  color: $text-light;

  h1 {
    font-size: 3.5em;
    margin-bottom: 10px;
  }

  .tagline {
    font-style: italic;
    color: $text-medium;
    font-size: 1.2em;
    margin-bottom: 20px;
  }

  .meta-info {
    font-size: 1.1em;
    span {
      margin-right: 20px;
      font-weight: 500;
    }
  }

  .favorite-btn {
    background-color: $background-dark;
    color: $text-light;
    border: 2px solid $primary-color;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 30px;
    cursor: pointer;
    font-size: 1.1em;
    transition:
      background-color 0.3s,
      color 0.3s;

    &:hover {
      background-color: $primary-color;
      color: $background-dark;
    }

    &.favorite {
      background-color: $primary-color;
      color: $text-light;
      border-color: $primary-color;
    }
  }
}

.content-section {
  max-width: 1400px;
  margin: 0 auto;
  padding: 40px 30px;

  h2 {
    font-size: 2em;
    color: $text-light;
    border-bottom: 1px solid $background-light;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.1em;
    color: $text-medium;
    text-align: justify;
  }
}

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
  color: $text-light;
  font-size: 1.2em;
}
