@if (loading$ | async) {
  <div class="loading-container">
    <mat-spinner diameter="100"></mat-spinner>
  </div>
} @else {
  @if (movie$ | async; as movie) {
    <div class="detail-page-container">
      <div
        class="header-section"
        [style.background-image]="
          'url(' + getPosterUrl(movie.backdrop_path || movie.poster_path) + ')'
        "
      >
        <div class="overlay">
          <div class="poster">
            <img [src]="getPosterUrl(movie.poster_path)" [alt]="movie.title" />
          </div>
          <div class="info">
            <h1>{{ movie.title }}</h1>
            <p class="tagline">{{ movie.tagline }}</p>
            <div class="meta-info">
              <span>📅 {{ movie.release_date | date: 'yyyy' }}</span>
              <span>⭐️ {{ movie.vote_average | number: '1.1-1' }} / 10</span>

              @if (movie.runtime) {
                <span>⏱ {{ movie.runtime }} min</span>
              }
            </div>

            @if (movie.genres.length) {
              <div class="genres-container">
                <span class="label">Genres:</span>
                @for (genre of movie.genres; track genre.id) {
                  <span class="genre-tag">{{ genre.name }}</span>
                }
              </div>
            }
          </div>
        </div>
      </div>

      <div class="content-section">
        <h2>Overview</h2>
        <p>{{ movie.overview || 'Description missing.' }}</p>

        @if (movie.homepage) {
          <div class="homepage-link-container">
            <a
              [href]="movie.homepage"
              target="_blank"
              rel="noopener noreferrer"
              class="homepage-link"
            >
              Official film website
            </a>
          </div>
        }
      </div>
    </div>
  }
}
