<header class="header">
  <div class="logo">
    <a routerLink="/movies">MovieHub </a>
  </div>

  <nav class="navbar" [class.open]="isMenuOpen$ | async">
    <a routerLink="/movies" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
      >Movies</a
    >
    <a routerLink="/favorites" routerLinkActive="active">Favorites</a>
  </nav>

  <div class="right-controls">
    <div class="search-icon-container">
      <button class="search-icon-btn" (click)="goToSearchPage()">
        <mat-icon class="search-icon">search</mat-icon>
      </button>
    </div>

    <button class="hamburger-btn" [class.open]="isMenuOpen$ | async" (click)="toggleMenu()">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </button>
  </div>
</header>

<main class="main">
  <router-outlet></router-outlet>
</main>
