@use '../styles.scss' as *;

.header {
  background-color: $background-light;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo a {
  font-size: 1.8em;
  font-weight: bold;
  color: $primary-color;
  letter-spacing: 1px;
}

.navbar {
  a {
    margin: 0 15px;
    font-size: 1.1em;
    padding: 10px 0;
    transition:
      color 0.3s,
      border-bottom 0.3s;

    &.active {
      color: $primary-color;
      border-bottom: 2px solid $primary-color;
    }
  }
}

.right-controls {
  display: flex;
  align-items: center;
  gap: 15px;
}

.search-icon-container {
  width: 24px;
  height: 24px;
}

.search-icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;

  .search-icon {
    color: $text-light;
    font-size: 24px;
    line-height: 24px;
  }
}

.hamburger-btn {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 24px;
  height: 24px;
  position: relative;
  z-index: 101;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: $text-light;
    border-radius: 2px;
    transition: all 0.3s ease;
    margin: 0;
  }

  &.open {
    .line:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
    .line:nth-child(2) {
      opacity: 0;
    }
    .line:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
}

@media (min-width: 769px) {
  .navbar {
    display: flex;
  }

  .hamburger-btn {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 0 20px;
  }

  .hamburger-btn {
    display: flex;
  }

  .navbar {
    display: flex;
    position: fixed;
    top: 60px;
    right: 0;
    width: 100%;
    height: calc(100vh - 60px);
    background-color: $background-dark;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    padding-top: 20px;
    z-index: 90;

    &:not(.open) {
      display: none;
    }

    &.open {
      display: flex;
      transform: translateX(0);
      box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    }

    a {
      display: block;
      width: 100%;
      text-align: center;
      padding: 15px 0;
      margin: 0;
      font-size: 1.5em;
      border-bottom: 1px solid $background-light;

      &:hover {
        background-color: $background-light;
      }
    }
  }
}
