@use '../../../../styles.scss' as *;

.movie-card {
  background-color: $card-background;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  transition:
    transform 0.3s,
    box-shadow 0.3s;
  cursor: pointer;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7);
  }

  img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    display: block;
  }

  .info {
    padding: 15px;

    h3 {
      font-size: 1.3em;
      margin-bottom: 5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .meta {
      color: $text-medium;
      font-size: 0.9em;
      margin-bottom: 10px;
    }

    .overview {
      color: $text-light;
      font-size: 0.95em;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      min-height: 4.5em;
    }

    button {
      background-color: $primary-color;
      color: $text-light;
      border: none;
      padding: 8px 15px;
      border-radius: 4px;
      cursor: pointer;
      margin-top: 10px;
      transition: background-color 0.2s;

      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }

    a {
      display: inline-block;
      margin-left: 10px;
      color: $text-medium;
      font-size: 0.9em;
      &:hover {
        color: $primary-color;
      }
    }
  }
}
