<div class="favorites-page-container">
  <h2 class="section-title">My favorites films</h2>

  @if (!(favoriteMovies$ | async)?.length) {
    <div class="empty-list-message">
      <p>Your list of favorite movies is empty.</p>
      <a routerLink="/movies">Go to the movie catalog</a>
    </div>
  }

  @if (favoriteMovies$ | async; as movies) {
    <div class="movie-grid">
      @if (favoriteIds$ | async; as favoriteIds) {
        @for (movie of movies; track movie.id) {
          <sh-movie-card
            [movie]="movie"
            [isFavorite]="true"
            (toggleFavorite)="onRemoveFavorite(movie.id)"
          >
          </sh-movie-card>
        }
      }
    </div>
  }
</div>
