@use '../../../../styles.scss' as *;

:host {
  display: block;
  padding: 20px 0;
}

input {
  width: 100%;
  padding: 12px 20px;
  font-size: 1.1em;
  border: 1px solid $background-light;
  border-radius: 25px;
  background-color: $card-background;
  color: $text-light;
  transition:
    border-color 0.3s,
    box-shadow 0.3s;
  box-sizing: border-box;

  &::placeholder {
    color: $text-medium;
  }

  &:focus {
    outline: none;
    border-color: $primary-color;
    box-shadow: 0 0 8px rgba($primary-color, 0.5);
  }
}
